<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetOrder</key>
		<real>504170574.58107001</real>
	</dict>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetOrder</key>
		<dict>
			<key>b57e5e5ac2f5c8827c0fca04006aafb3a83d5c3610f8f0ced2fd23296c73a564</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
